/*
primary: #16A085
secondary: #F4D03F
*/
*{
  --primary: rgb(0, 130, 53);
  --secondary: rgb(246, 92, 56);
  --dark_secondary: rgb(216, 62, 26);
  --light: #E5E5E5;
  --yellow: #FFE000;
}
body{
  background: var(--primary);
  text-align: center;
  font-size: 2em;
  padding-top: 35px;
}
form{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border: 1px solid #222;
  border-radius: 5px;
  box-shadow: 3px 5px 8px #888;
  width: 60%;
  padding: 10px;
  background: var(--light);
}
input{
  font-size: 20px;
}
input[type="text"],input[type="password"],
input[type="email"],input[type="number"],
select{
  background: #222;
  color: var(--yellow);
}
input[type="submit"], input[type="reset"]{
  background: var(--secondary);
  border-radius: 5px;
  padding: 5px;
}
input[type="submit"]:hover, input[type="reset"]:hover{
  color: var(--secondary);
  background: var(--light);
}
th{
  background: #bcbcbc;
}
.td-a{
  background: #efefef;
}
.td-b{
  background: #dedede;
}
th, td, table{
  border-radius: 5px;
  padding: 2px;
}
a {
  text-decoration: none;
}
select{
  font-size: 24px;
}
.form_sublinks{
  text-align: left;
}
.form_sublinks a{
  color: #222;
  background: var(--dark_secondary);
  padding: 3px;
  border-radius: 5px;
  font-size: 18px;
}
.form_sublinks a:hover{
  color: var(--secondary);
  background: #222;
}